body {
  background: rgb(252, 191, 221);
  background: linear-gradient(
    0deg,
    rgba(252, 191, 221, 1) 25%,
    rgba(147, 218, 251, 1) 100%
  );
}

header {
  border: 3px solid black;
  border-radius: 12px;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  padding: 5px;
  transition: 0.4s;
  border-radius: 14px;
  font-family: Nunito;
}

.buttonlogo {
  display: flex;
  height: 50%;
  width: 50%;
}

.line {
  font-size: 5px;
  color: transparent;
  background-color: #7393b3;
  border-radius: 12px;
}

.div-list {
  height: auto;
  width: auto;
}

.div-list a:hover {
  background-color: black;
  color: white;
}

#logo-name {
  font-family: Nunito;
  margin-right: 55%;
  margin-top: 1.5%;
}

.introduction {
  margin-top: 2.5%;
}

.article-div {
  width: 25%;
  border: 3px solid transparent;
  border-radius: 40px;
  margin-left: 25%;
  margin-top: 8%;
}

.article-div > p {
  color: black;
  margin: 2%;
  font-size: 25px;
  font-family: Nunito;
}

.article-div > h1 {
  color: black;
  margin: 0%;
  margin-top: 1%;
  font-size: 40px;
  font-family: Nunito;
}

.logo-image {
  width: 35%;
  height: auto;
  margin-top: 5%;
  margin-right: 10%;
  border: 3px solid transparent;
  border-radius: 22px;
}

.black-line {
  background-color: #7393b3;
  margin-top: 15%;
  width: 100%;
  height: 5px;
  border-radius: 12px;
  font-size: 0px;
}

.info-main {
  font-family: Nunito;
  display: flex;
  margin-left: 10%;
  margin-top: 3%;
}

.info {
  width: 75%;
  font-size: 22px;
}

#birb {
  width: 20%;
  height: 20%;
  margin-right: 15%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#mandrinkingjuice {
  margin: auto;
  margin-left: 2.5%;
  width: 30%;
}

.info2-main {
  display: flex;
  justify-content: flex-end;
  font-family: nunito;
}

.info2 {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding: 1%;
}

.info2 > h1 {
  font-size: 360%;
}

.info2 > p {
  width: 80%;
  font-size: 160%;
}

footer {
  margin-top: 1%;
  padding: 1%;
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: Nunito;
}