body {
  background: rgb(252, 191, 221);
  background: linear-gradient(
    0deg,
    rgba(252, 191, 221, 1) 25%,
    rgba(147, 218, 251, 1) 100%
  );
}

header {
  border: 3px solid black;
  border-radius: 12px;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  padding: 10px;
  transition: 0.4s;
  border-radius: 16px;
  font-family: Nunito;
}

.div-list {
  height: auto;
  width: auto;
}

.div-list a:hover {
  background-color: black;
  color: white;
}

.buttonlogo {
  height: 60px;
  width: 60px;
}

.div-list {
  height: auto;
  width: auto;
}

.div-list a:hover {
  background-color: black;
  color: white;
}

#logo-name {
  font-family: Nunito;
  margin-right: 55%;
  margin-top: 1.5%;
}

footer {
  margin-top: 40px;
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: Nunito;
}